# General - OS, Editor & IDE Configuration
# ===================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python & Django
# ===================================
# Virtual Environments
myenv/
.venv/
venv/
env/

# Django specific
db.sqlite3
staticfiles/
*.log

# Python cache
__pycache__/
*.pyc

# Environment variables - CRITICAL
# ===================================
.env
.env.*
!/.env.example # Use ! to explicitly UN-ignore the example file

# Frontend (Node.js) - For later
# ===================================
/frontend/node_modules/
/frontend/build/
/frontend/.pnp
/frontend/.pnp.js

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sensitive data,
# such as password, private keys, and other secrets.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local testing
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example of plan file
.terraform.tfplan.json